* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
    min-height: 100vh;
}

.navbar .navbar-nav .nav-link:hover {
    color: #c28422;
}

.slogan-text {
    color: #c28422;
}

.gameGenre {
    font-size: 14px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 3px 8px;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
    margin: 0;
    margin-left: 6px;
}

.product-image {
    object-fit: cover;
}

.maps-container {
    text-align: center;
    overflow: hidden;
}

.maps-container iframe {
    height: 300px;
    width: 100%;
    /* position:absolute; */
}

.google-map {
    display: absolute;
}

/* Footer section */

.text {
    color: white;
}

#githubIcon {
    margin: 20px;
}

footer {
    background-color: #212529;
    width: 100%;
}